.chart {
  margin: 20px;
  padding: 20px;
  background-color: rgb(242, 245, 240);
  opacity: 0.8;
  box-shadow: 10px 4px 10px -2px rgba(0,0,0,0.33);
-webkit-box-shadow: 10px 4px 10px -2px rgba(0,0,0,0.33);
-moz-box-shadow: 10px 4px 10px -2px rgba(0,0,0,0.33);
}

.chartTitle{
    margin-bottom: 20px;
}