.featured {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.featuredItem {
  flex: 1;
  margin: 0px 20px;
  padding: 30px;
  border-radius: 10px;
  cursor: pointer;
  color: black;
  opacity: 0.8;
  box-shadow: 10px 4px 10px -2px rgba(0, 0, 0, 0.33);
  -webkit-box-shadow: 10px 4px 10px -2px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 10px 4px 10px -2px rgba(0, 0, 0, 0.33);
}

.item1 {
  background-color: rgb(210, 224, 224);
  transition: background-color 2s;
}

.item1:hover {
  background-color: white;
}

.item2 {
  background-color: rgb(231, 236, 181);
  transition: background-color 2s;
}
.item2:hover {
  background-color: white;
}
.item3 {
  background-color: rgb(174, 185, 231);
  transition: background-color 2s;
}

.item3:hover {
  background-color: white;
}

.item4 {
  background-color: rgb(225, 175, 238);
  transition: background-color 2s;
}
.item4:hover {
  background-color: white;
}
.featuredTitle {
  font-size: 20px;
}

.featuredMoneyContainer {
  margin: 10px 0px;
  display: flex;
  align-items: center;
}

.featuredMoney {
  font-style: 30;
  font-weight: bold;
}

.featuredMoneyrate {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.featuredIcon {
  font-size: 14px;
  margin-left: 5px;
  color: green;
}

.featuredIcon.negative {
  color: red;
}

.featuredSub {
  font-size: 15px;
  color: grey;
}
