.sidebar {
  flex: 1;
  height: calc(100vh - 50px);
  position: sticky;
  top: 50px;
  background-color: rgb(251, 251, 255);
  overflow-y: auto;
}

.radioButtons {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.single {
  display: flex;
  align-items: center;
  gap: 5px;
}

.analysis {
  display: flex;
  align-items: center;
  gap: 5px;
}

.ind {
  font-weight: bold;
  font-size: 15px;
}

.scrollable-list {
  max-height: 100px; /* Set a maximum height for the scrollable list */
  overflow-y: auto; /* Enable vertical scrollbar when content overflows */
  border-bottom: 1px solid lightgray;
  /* You can add more styles like padding, margin, etc. */
}

.scrollable-list ul {
  list-style: none; /* Remove default list styles */
  padding: 0;
  margin: 0;
}

.sidebarWrapper {
  padding: 20px;
  color: #555;
  display: none;
  position: relative;
  overflow: hidden;
}

.aactive {
  display: block;
  animation: aactive 0.5s forwards;
}

.inactive {
  animation: inactive 0.5s forwards; /* Move it outside of the view */
}


@keyframes aactive {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes inactive {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.sidebarMenu {
  margin-bottom: 10px;
}

.sidebarTitle {
  font-size: 13px;
  color: rgb(187, 186, 186);
}

.sidebarList {
  list-style: none;
  padding: 5px;
}

.sidebarListItem1 {
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.sidebarListItem1.active,
.sidebarListItem1:hover {
  background-color: rgb(228, 228, 250);
}

.sidebarListItem2 {
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.sidebarListItem2.active,
.sidebarListItem2:hover {
  background-color: rgb(228, 228, 250);
}

.sidebarListItem3 {
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.sidebarListItem3.active,
.sidebarListItem3:hover {
  background-color: rgb(228, 228, 250);
}

.sidebarListItem4 {
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.sidebarListItem4.active,
.sidebarListItem4:hover {
  background-color: rgb(228, 228, 250);
}

.sidebarListItem5 {
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.sidebarListItem5.active,
.sidebarListItem5:hover {
  background-color: rgb(228, 228, 250);
}

.sidebarListItem6 {
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.sidebarListItem6.active,
.sidebarListItem6:hover {
  background-color: rgb(228, 228, 250);
}

.sidebarListItem7 {
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.sidebarListItem7.active,
.sidebarListItem7:hover {
  background-color: rgb(228, 228, 250);
}

.sidebarIcon {
  margin-right: 5px;
  font-size: 20px !important;
}

.sidebar::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

.sidebar::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the track */
}

.sidebar::-webkit-scrollbar-thumb {
  background: #888; /* Color of the thumb */
  border-radius: 6px; /* Radius of the thumb */
}

.sidebar::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the thumb on hover */
}
